@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial;
}

.container{
    max-width: 1770px;
    margin: 0 auto;
}

/* header */

.header{
    width: 100%;
    padding: 14px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__header-logo{
    width: 224px;
    height: 72px;
}

.header-logo__img{
    width: 100%;
}

.header__nav, .nav__items{
    display: flex;
    align-items: center;
}

.nav__item{
    list-style: none;
    margin-right: 85px;
}

.item__item-link{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.nav__search-btn{
    cursor: pointer;
    background: transparent;
    border: none;
}

.search-btn__img{
    width: 24px;
    height: 24px;
}

.search-btn__img:hover > rect{
    fill: #FF9900;
}

.search-btn__img:hover > path{
    stroke: #FF9900;
}

.slider {
    position: relative;
}

.zag__banner {
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
    margin-top: 100px;
    margin-left: 80px;
}   

.text__banner {
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-top: 284px;
    margin-left: 80px;
}

.banner__btn {
    position: absolute;
    padding: 25px 25px;
    color: white;
    background-color: #FF9900;
    border: none;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 390px;
}